
.container .flex{
  display: flex;
  justify-content: space-between;
  
}
.out {
  font-size:30px;
}
.container, .Name{
  background-color: #AB00FB;
}
.container2{
 overflow: visible;
  display: grid;
  grid-template-columns:60% 40%;
}
.im{
 width: 400px;
 height: 500px;
 clip-path: circle();
}
.para{
  display: grid;
  grid-template-columns: 30% 30% 32%;
  justify-content: space-around;
}


.footer{
  width :200;
  display: grid;
  grid-template-columns: 50% 30% 10%;
  justify-content: space-between;
  font-size: 10px;
  background-color:#A990FF;
  
}
.paraa, .parab, .parac {
  border-top: 10px;
  border-color: solid black;
  border-style: solid;
}
h4{
  text-align: center;
}
.parab{
  text-align: center  ;
  
}
@media(min-width: 300px) and (max-width: 500px){
  * {
    font-size: 1rem;
  }

  .nav{
    height: 100px;
  }
    
  
  .container2 .flex{
    display: grid;
    
    grid-template-rows: 50% 50%;

    
  }
  body {
    height: 100vh;
    width: 100vw;
    overflow-y: 5;
    overflow-x: 5;
  }
.para{
  width: 100;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
 
}
.container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
  
}
.im{
  width: 350px;
}
}

